* {
    box-sizing: border-box;
    transition: 0.7s;
}

[class*="col-"] {
    width: 100%;
    padding: 0;
}


@media only screen and (min-width: 641px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}



.navContainer {
    padding: 0;
    width: 100%;
}

.footerContainer{
    padding: 0;
}

header {
    background-color: white;
    margin: 0px;
    padding: 0px;    
    border-bottom: 1px solid #4aaaa5;
    width: 100%;
    height: 70px;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("../../assets/images/congruent_pentagon.png");
    background-repeat: repeat;
}

nav{

    margin: 0 auto;
    box-align: center;
    position: relative;
}

.navCenter{
    padding-left: 15%;
}

.nameContainer{
    
    background-color: #4aaaa5;
    height:70px;
    width: 15%;
    float: left; 
    text-align: center;
    margin: 0;
    padding-top: 1.5%;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 25px;
    color: white;   

}

h1{
    text-align: left;
    margin: 0;
    padding-top: 1%;
    padding-bottom: 5%;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 25px;
    color:black;   
}






nav ul {
    margin: 0;
    padding-top: 23px;
    padding-right: 23%;
   
}

nav li {
    float:right;
    list-style: none;    
}
 .navButton{
     margin-left:10px;
     padding-left:10px;
     border-left:1px solid black;
    }

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#666666;
    margin: 0px;
    padding: 0px; 
    padding-top: 25px;   
    border-top: 5px solid #4aaaa5;
    height: 70px;
    text-align: center;
    color: white;
}

/*--Botones-->*/
.buttonStyle{
    text-decoration: none;
}
.buttonStyle:hover{

    color: crimson;
}

.buttonStyle:link{
    color: #777777;
}

.buttonStyle:visited{
    color: #777777;
}

.buttonStyle:active{
    color: orange;
}

.selected{
    background-color: #4aaaa5;
    opacity: .8;
}


.indexcontainer {

    height: auto;
    margin-left: 15%;
    margin-top: 5%;
    background-color: white;
    padding:20px;
    line-height: 1.5;
    font-size: 18px;
    border: 1px solid #dddddd;
    border-radius: 5px;     
}

.parIn {
   
    height: auto;
    background-color: white;
    margin: 0;
    padding:0;
    margin-bottom: 15px;

}

.indexHeading{
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 25px;
    text-align: left;
    margin-top:10px;
    margin-bottom:20px;
    padding:0;
    font-weight: bold;

}

.indexImg{
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}

hr{
    margin-bottom: 30px;
    border-color: #dddd;
}

/*contact style*/

.formStyle{
    width: 100%;
    margin-bottom: 20px;
    color: #777777;
    
}

input{
    height: 25px;
}

input, textarea{
    width:99%;
    padding-left:10px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #777777;
    

}

textarea{
    height: 100px;
    resize: none;
}

.submit{
    background-color: #4aaaa5;
    width: 85px;
    height: 30px;
    color:white;
    font-size: 15px;
}

/*Portfolio*/

.portImage{
    position:relative;
    float: left;
    width: 150px;
    height: 150px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.textFloat{
    position: relative;
    text-align: center;
    font-size: 13px;
    font-weight: bold;  
    top: 100px;
    color: white;
    background-color: #4aaaa5;
    opacity: .8;
    height: 20px;
    padding: 3px 0;
    margin-bottom:10px;
}

.portfoliocontainer{
    
    height: 500px;
    margin-left: 15%;
    margin-top: 5%;
    background-color: white;
    padding:20px;
    line-height: 1.5;
    font-size: 18px;
    border: 1px solid #dddddd;
    border-radius: 5px;     
}

.img1{
    background: url(../images/film.png) no-repeat;
    background-size: 150px 150px;
}
.img2{
    background: url(../images/gamepad.png) no-repeat;
    background-size: 150px 150px;
}
.img3{
    background: url(../images/heart.png) no-repeat;
    background-size: 150px 150px;
}
.img4{
    background: url(../images/internet.png) no-repeat;
    background-size: 150px 150px;
}
.img5{
    background: url(../images/user.png) no-repeat;
    background-size: 150px 150px;
}